<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>

    <h1>Product list: </h1>
    <section>
        <ul>
            <% for(let product of products) { %>
                <li><a href="products/<%= product.id %>"><%= product.name %></a></li>
            <% } %>    
        </ul>
        <h3><a href="products/new">Add a new Product</a></h3>
    </section>
    
</body>
</html>